<div>
  <button (click)="onStatus(1)" class="btn_true" *ngIf="order.status==1">Đang giao hàng</button>
  <button (click)="onStatus(1)" class="btn_false" *ngIf="order.status!=1">Đang giao hàng</button>

  <button (click)="onStatus(2)" class="btn_true" *ngIf="order.status==2">Giao hàng thành công</button>
  <button (click)="onStatus(2)" class="btn_false" *ngIf="order.status!=2">Giao hàng thành công</button>

  <button (click)="onStatus(3)" class="btn_true" *ngIf="order.status==3">Hủy đơn hàng </button>
  <button (click)="onStatus(3)" class="btn_false" *ngIf="order.status!=3">Hủy đơn hàng</button>
</div>
