<div class="row">
  <div class="col-sm-12">
      <div class="white-box">
          <h3 class="box-title">Product List</h3>
          <p class="text-muted"><a routerLink="/admin/product/add">Create product here</a></p>
          <div class="table-responsive">
              <table class="table text-nowrap">
                  <thead>
                      <tr>
                          <th class="border-top-0">#</th>
                          <th class="border-top-0">First Name</th>
                          <th class="border-top-0">Last Name</th>
                          <th class="border-top-0">Username</th>
                          <th class="border-top-0">Role</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>
                            <img src="https://cdn.tgdd.vn/Products/Images/8788/276240/bhx/tao-envy-my-hop-1-trai-250g-300g-202205112030490126.jpg" width="100" alt="">
                            <span>Táo</span>
                          </td>
                          <td>Prohaska</td>
                          <td>@Genelia</td>
                          <td>admin</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
