<div>
  <h3>Ordering information</h3>
  <table class="table text-nowrap">
    <tr>
      <td >Name:</td>
      <td>{{order.idOrder.name}}</td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td>{{order.idOrder.phone}}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{order.idOrder.email}}</td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>{{order.idOrder.address}}</td>
    </tr>
  </table>
</div>
<div class="table-responsive">
  <h3>Order product information</h3>
  <table class="table text-nowrap">
      <thead>
          <tr>
              <th class="border-top-0">#</th>
              <th class="border-top-0">Product</th>
              <th class="border-top-0">Price</th>
              <th class="border-top-0">Sale_price</th>
              <th class="border-top-0">Quantity</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of order.orderDetail;let i = index">
              <td>{{i+1}}</td>
              <td>
                <img src="{{item.img}}" width="80px" alt="">
                <span style="text-transform: capitalize;"> {{item.name}}</span>
              </td>
              <td>{{item.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</td>
              <td>{{item.sale_price.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</td>
              <td>{{item.quantity}}</td>


          </tr>
      </tbody>
  </table>
</div>
