<div class="row">
  <div class="col-sm-12">
      <div class="white-box">
          <h3 class="box-title">Category List</h3>
          <p class="text-muted"><a routerLink="/admin/category/add">Create category here</a></p>
          <div class="table-responsive">
              <table class="table text-nowrap">
                  <thead>
                      <tr>
                          <th class="border-top-0">#</th>
                          <th class="border-top-0">Name</th>
                          <th class="border-top-0">Status</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of categories;let i = index">
                          <td>{{i+1}}</td>
                          <td>
                            <span style="text-transform: capitalize;"> {{item.name}}</span>
                          </td>
                          <td>
                            <div class="status-products-true" *ngIf="item.status==true" (click)="onStatus(item._id!)"><button>Actived</button></div>
                            <div class="status-products-false" *ngIf="item.status==false" (click)="onStatus(item._id!)"><button>Disable</button></div>
                          </td>
                          <td><button class="btn btn-danger" (click)="onRemove(item._id!)">Remove</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
