<nav class="header__menu">
  <ul>
      <li class="active"><a routerLink="/">Trang chủ</a></li>
      <li><a href="/">Sách</a></li>
      <li><a href="#">Pages</a>
          <ul class="header__menu__dropdown">
              <li><a href="./shop-details.html">Shop Details</a></li>
              <li><a href="./shoping-cart.html">Shoping Cart</a></li>
              <li><a href="./checkout.html">Check Out</a></li>
              <li><a href="./blog-details.html">Blog Details</a></li>
          </ul>
      </li>
      <li><a href="./blog.html">Blog</a></li>
      <li><a href="./contact.html">Contact</a></li>
  </ul>
</nav>
