<div class="row">
  <div class="col-sm-12">
      <div class="white-box">
          <h3 class="box-title">Product List</h3>
          <p class="text-muted"><a routerLink="/admin/product/add">Create product here</a></p>
          <div class="table-responsive">
              <table class="table text-nowrap">
                  <thead>
                      <tr>
                          <th class="border-top-0">#</th>
                          <th class="border-top-0">Product</th>
                          <th class="border-top-0">Price</th>
                          <th class="border-top-0">Sale_price</th>
                          <th class="border-top-0">Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of products;let i = index">
                          <td>{{i+1}}</td>
                          <td>
                            <img src="{{item.img}}" width="100px" alt="">
                            <span> {{item.name}}</span>
                          </td>
                          <td>{{item.price}}đ</td>
                          <td>{{item.sale_price}}đ</td>
                          <td class="status-products-true" *ngIf="item.status==true" (click)="onStatus(item._id!)"><button>Avtived</button></td>
                          <td class="status-products-false" *ngIf="item.status==false" (click)="onStatus(item._id!)"><button>Disable</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
