.status-products-true button{
  border: none;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 6px 10px;
}
.status-products-false button{
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 6px 10px;
}
