<div class="row">
  <div class="col-sm-12">
      <div class="white-box">
          <h3 class="box-title">User List</h3>
          <div class="table-responsive">
              <table class="table text-nowrap">
                  <thead>
                      <tr>
                          <th class="border-top-0">#</th>
                          <th class="border-top-0">Name</th>
                          <th class="border-top-0">Email</th>
                          <th class="border-top-0">Role</th>
                          <th class="border-top-0">Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of users">
                          <td>1</td>
                          <td>
                            <span style="text-transform: capitalize;">{{item.name}}</span>
                          </td>
                          <td>{{item.email}}</td>
                          <td>{{item.role==1?"Admin":"Member"}}</td>
                          <td >
                            <div class="status-products-true">
                              <button *ngIf="item.status==true" (click)="onStatus(item._id!)">Actived</button>
                            </div>
                            <div class="status-products-false">
                              <button *ngIf="item.status==false" (click)="onStatus(item._id!)">Disable</button>
                            </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
